[submodule "Zevs-blockchain-gui"]
	path = Zevs-blockchain-gui
	url = https://github.com/Zevs-Network/Zevs-blockchain-gui.git
	branch = main
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Zevs-Network/mozilla-ca.git
